<head><link href="https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Aref+Ruqaa|Catamaran" rel="stylesheet"></head>

<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>. Feel free to scroll to the bottom to find out more. :)</p>

        <div class="hiddentext"><span style="font-family: 'Aref Ruqaa', serif; font-size: 1.5em"><p>Actually, I lied. You came here for truth and the truth is that you shouldn't blink. They're coming for you because they know. They know you know and I'm sorry. I never should have dragged you into this...</p>

        <p>I heard you can't look into their eyes for very long or you become one of them.</p> 

        <p>They're right... They're right...</p>

        <p>I can't even look at this screen without seeing in the reflection. It's coming for me...</p>

        <p>Run...</p>

        <p>It's... not too late... It's taking over.. But you can make it. You can..lalds;j;jadsfjk;ljkl;ads;rj;jdkas;jk;l
        adl;luadsrlku;adsnf;lkadjfs
        ouaeadjlf;jadf,</p></span>

        <p style="font-family: 'Amatic SC', cursive; font-size: 5em; text-align: right;">WE'RE COMING</p> 
        <p style="font-family: 'Amatic SC', cursive; font-size: 5em; text-align: left;">FOR YOU NOW.</p>
        <p style="font-family: 'Amatic SC', cursive; font-size: 5em; text-align: center;">WE'RE HUNGRY.</p></div>
    </div>
</div>