<h1>Contact Us</h1>
<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
<p>What Up. We In Here.</p>
<p style="font-size: 1.75em; font-family: 'Oswald', sans-serif;">Scott Buendia</p>
<p>Your House</p>
<p>Your Phone Number</p>
<p>I'm not giving you my email</p>
<p style="text-align: center;"><iframe src="//giphy.com/embed/d3fT7K9QrI5IQ" width="200" height="100" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
<p style="text-align: center;"><iframe width="400" height="200" src="https://www.youtube.com/embed/3G9WYmzdrhc" frameborder="0" allowfullscreen></iframe></p>
<p style="font-size: 3em; font-family: 'Oswald', sans-serif; text-align: center;">I'm good at reading people. My secret , I look for the <span style="font-size: 2em">worst</span> in them. <span style="font-size: .25">(Elliot,</span> <span style="font-size: 1.5em">Mr. Robot)</span></p>