<link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Inconsolata|Indie+Flower|Titillium+Web" rel="stylesheet">
<h1 style="text-align: center; font-family: 'Indie Flower';">Editing Clue</h1>

<p style="text-align: center; font-family: 'Inconsolata'; font-size: 1.25em">Made a mistake? Fix it. We need good information or we all die.</p>

<%= render 'form', clue: @clue %>

<%= link_to 'Show', @clue %> |
<%= link_to 'Back', clues_path %>
<p style="text-align: center;"><img src="http://media.giphy.com/media/XIqCQx02E1U9W/giphy.gif" height="200" width="300"></p>