<link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Titillium+Web" rel="stylesheet">
<h1 style="font-family: 'Titillium Web', sans-serif; text-align: center;">New Clue</h1>

<p style="text-align: center; font-family: 'happy monkey' font-size: 1.5em">Wanna help us find the truth? Good. We're all ears. Let us know what you have found below</p>

<%= render 'form', clue: @clue %>

<%= link_to 'Back', clues_path %>
<p style="text-align: center;"><img src="http://www.reactiongifs.com/r/dgpt.gif" height="200" width="300">